In [2]:
import plotly

In [4]:
import pandas as pd

In [9]:
df = pd.read_csv("PETR4.SA.csv")

In [11]:
df.head(10)

         Date   Open   High    Low  Close  Adj Close       Volume
0  2015-03-30   9.50   9.75   9.42   9.71   9.008658   33372200.0
1  2015-03-31   9.58   9.92   9.47   9.66   8.962270   46908300.0
2  2015-04-01   9.93  10.37   9.87  10.26   9.518934   59374600.0
3  2015-04-02  10.17  10.72  10.17  10.69   9.917873   69001800.0
4  2015-04-06  10.80  10.99  10.68  10.71   9.936431   45227600.0
5  2015-04-07  10.60  10.96  10.46  10.92  10.131264   61721500.0
6  2015-04-08  11.10  11.33  10.49  10.57   9.806541   73904600.0
7  2015-04-09  10.70  11.60  10.58  11.58  10.743590   79280800.0
8  2015-04-10  11.52  11.93  11.27  11.81  10.956979   70021600.0
9  2015-04-13  11.97  12.75  11.90  12.27  11.383754  104809600.0

In [13]:
import plotly.graph_objs as go
data = [go.Scatter(
        x=df.Date, 
        y=df['Close'])]

py.iplot(data)

NameError: name 'py' is not defined